{% extends "base.html.twig" %}

{% block body %}
    {#    <h1>Good morning Mr. {{ name }}!</h1>#}
    {#    {{ form(form) }}#}
    {{ form_start(form) }}

    {{ form_errors(form.priority) }}
    <div class="row">
        <div class="col-12">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success mb-2">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    {{ form_widget(form)}}
    {{ form_end(form) }}
{% endblock %}
